<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950816313631-nbk10funpj9oup46kr9e9slb2pt383e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950816313631-nbk10funpj9oup46kr9e9slb2pt383e3</string>
	<key>API_KEY</key>
	<string>AIzaSyAKJFZMStV8RFvOpKZtyke1HEWudsy3FUs</string>
	<key>GCM_SENDER_ID</key>
	<string>950816313631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.rn.multiChatAppVer3</string>
	<key>PROJECT_ID</key>
	<string>sample-200908</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-200908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950816313631:ios:902ceddbd9e020ca4ce02a</string>
</dict>
</plist>